.descriptionBlock {
    padding: 10px;
}

.fullName {
    text-align: center;
    font-weight: bold;
}

.image {
    width: 100%;
}

.ava {
    width: 200px;
    border-radius: 50%;
}

.bold {
    font-weight: bold;
}